In [2]:
import pandas as pd

In [61]:
merged = pd.read_csv('dupFinal2(for_prod_cmpny).csv')
merged

,budget,runtime,revenue,no:maleCrew,no:maleCast,release_month,release_dow,release_year,no:Cast,no:Crew,...,Thriller,War,grp_mainLead,grp_co_lead1,grp_co_lead2,grp_writer,grp_Editor,title,crew,recovery_rate
0,237000000,162.0,2787965087,28,20,12,3,2009,83,153,...,0.0,0.0,5,0,0,5,5,Avatar,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",1176.356577
1,300000000,169.0,961000000,15,25,5,5,2007,34,32,...,0.0,0.0,4,0,0,3,4,Pirates of the Caribbean: At World's End,"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",320.333333
2,245000000,148.0,880674609,25,55,10,0,2015,83,155,...,1.0,0.0,4,0,0,3,3,Spectre,"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",359.459024
3,250000000,165.0,1084939099,37,73,7,0,2012,158,217,...,1.0,0.0,4,3,0,3,4,The Dark Knight Rises,"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",433.975640
4,260000000,132.0,284139100,25,19,3,2,2012,27,132,...,0.0,0.0,2,0,0,5,2,John Carter,"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",109.284269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,2000000,108.0,572809,7,6,6,3,2010,9,13,...,1.0,0.0,1,0,0,1,1,I Spit on Your Grave,"[{""credit_id"": ""52fe466dc3a36847f80fe6cb"", ""de...",28.640450
573,1500000,103.0,97009150,7,9,9,0,2010,19,14,...,1.0,0.0,6,0,0,6,6,Insidious,"[{""credit_id"": ""52fe4780c3a36847f8139515"", ""de...",6467.276667
574,1000000,82.0,62882090,6,2,4,4,2015,11,41,...,0.0,0.0,6,0,0,6,6,Unfriended,"[{""credit_id"": ""53d8e7620e0a261c87002337"", ""de...",6288.209000
575,3500000,112.0,16566240,8,5,12,0,2010,15,26,...,0.0,0.0,4,0,0,3,3,Blue Valentine,"[{""credit_id"": ""52fe4708c3a36847f811fe0b"", ""de...",473.321143
576,5000000,100.0,6833445,12,6,9,3,2014,21,57,...,0.0,0.0,2,0,0,2,2,The Green Inferno,"[{""credit_id"": ""52fe4d0cc3a36847f824bb55"", ""de...",136.668900

In [302]:
merged['no:keywords']

0      21
1      16
2       7
3      21
4      16
       ..
580     8
581     4
582    18
583    10
584     6
Name: no:keywords, Length: 585, dtype: int64

In [62]:
movies1 = pd.read_csv('G:\\dataSet\\tmdb_5000_movies.csv')
movies1.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [63]:
titleC =movies1[['title','production_companies']]
titleC

,title,production_companies
0,Avatar,"[{""name"": ""Ingenious Film Partners"", ""id"": 289..."
1,Pirates of the Caribbean: At World's End,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""..."
2,Spectre,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam..."
3,The Dark Knight Rises,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""..."
4,John Carter,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]"
...,...,...
4798,El Mariachi,"[{""name"": ""Columbia Pictures"", ""id"": 5}]"
4799,Newlyweds,[]
4800,"Signed, Sealed, Delivered","[{""name"": ""Front Street Pictures"", ""id"": 3958}..."
4801,Shanghai Calling,[]
4802,My Date with Drew,"[{""name"": ""rusty bear entertainment"", ""id"": 87..."

In [64]:
merged= merged.merge(titleC,on='title')

In [65]:
merged.head(2)

,budget,runtime,revenue,no:maleCrew,no:maleCast,release_month,release_dow,release_year,no:Cast,no:Crew,...,War,grp_mainLead,grp_co_lead1,grp_co_lead2,grp_writer,grp_Editor,title,crew,recovery_rate,production_companies
0,237000000,162.0,2787965087,28,20,12,3,2009,83,153,...,0.0,5,0,0,5,5,Avatar,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",1176.356577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289..."
1,300000000,169.0,961000000,15,25,5,5,2007,34,32,...,0.0,4,0,0,3,4,Pirates of the Caribbean: At World's End,"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",320.333333,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""..."

In [66]:
#we'lljust load the names of director , mainlead, colead1,2; writer , editor to respective lists

In [67]:
#we'll extract production companies-->make them to specific groups..

In [68]:
merged['production_companies'][0]

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [69]:
import ast
def getCmpny(row):
    nn=''
    li = ast.literal_eval(row)
    for dictt in li:
        nn += dictt['name']+'|'
    return nn.rstrip()    
merged['p_compn'] = merged['production_companies'].apply(getCmpny)

In [70]:
merged['p_compn'].head()

0    Ingenious Film Partners|Twentieth Century Fox ...
1    Walt Disney Pictures|Jerry Bruckheimer Films|S...
2                        Columbia Pictures|Danjaq|B24|
3    Legendary Pictures|Warner Bros.|DC Entertainme...
4                                Walt Disney Pictures|
Name: p_compn, dtype: object

In [71]:
merged[['proCm1','proCm2','proCm3','proCm4']] = merged['p_compn'].str.split('|',n=3,expand=True)

In [72]:
merged[['proCm1','proCm2','proCm3','proCm4']]

,proCm1,proCm2,proCm3,proCm4
0,Ingenious Film Partners,Twentieth Century Fox Film Corporation,Dune Entertainment,Lightstorm Entertainment|
1,Walt Disney Pictures,Jerry Bruckheimer Films,Second Mate Productions,
2,Columbia Pictures,Danjaq,B24,
3,Legendary Pictures,Warner Bros.,DC Entertainment,Syncopy|
4,Walt Disney Pictures,,None,None
...,...,...,...,...
580,Anchor Bay Films,Cinetel Films,Family of the Year Productions,
581,Alliance Films,IM Global,Stage 6 Films,Haunted Movies|
582,Bazelevs Production,Blumhouse Productions,,None
583,Hunting Lane Films,Silverwood Films,Incentive Filmed Entertainment,Chrysler Corporation|Shade Pictures|Motel Movi...
584,Worldview Entertainment,Dragonfly Entertainment,Sobras International Pictures,Top Hat Releasing|BH Tilt|

In [73]:
merged.drop(columns=['proCm4'],inplace=True)

In [74]:
#import pickle
#pickle.dump(merged,open('oriMerged.pkl(for_Pcm)','wb'))

In [75]:
merged.head()

,budget,runtime,revenue,no:maleCrew,no:maleCast,release_month,release_dow,release_year,no:Cast,no:Crew,...,grp_writer,grp_Editor,title,crew,recovery_rate,production_companies,p_compn,proCm1,proCm2,proCm3
0,237000000,162.0,2787965087,28,20,12,3,2009,83,153,...,5,5,Avatar,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",1176.356577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",Ingenious Film Partners|Twentieth Century Fox ...,Ingenious Film Partners,Twentieth Century Fox Film Corporation,Dune Entertainment
1,300000000,169.0,961000000,15,25,5,5,2007,34,32,...,3,4,Pirates of the Caribbean: At World's End,"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",320.333333,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",Walt Disney Pictures|Jerry Bruckheimer Films|S...,Walt Disney Pictures,Jerry Bruckheimer Films,Second Mate Productions
2,245000000,148.0,880674609,25,55,10,0,2015,83,155,...,3,3,Spectre,"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",359.459024,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",Columbia Pictures|Danjaq|B24|,Columbia Pictures,Danjaq,B24
3,250000000,165.0,1084939099,37,73,7,0,2012,158,217,...,3,4,The Dark Knight Rises,"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",433.975640,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",Legendary Pictures|Warner Bros.|DC Entertainme...,Legendary Pictures,Warner Bros.,DC Entertainment
4,260000000,132.0,284139100,25,19,3,2,2012,27,132,...,5,2,John Carter,"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",109.284269,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",Walt Disney Pictures|,Walt Disney Pictures,,None

In [76]:
#we'll make list of top recovery rate made production companies

In [77]:
merged.groupby('title')['recovery_rate'].max().loc[lambda x:x>1300]

title
Annabelle                 3927.289431
Black Swan                2521.567162
Deadpool                  1350.194791
Dope                      2569.540143
Fifty Shades of Grey      1427.515320
Insidious                 6467.276667
Juno                      3085.487787
Magic Mike                2388.879586
Minions                   1563.149949
Neighbors                 1489.763333
Sinister                  2590.414633
Slumdog Millionaire       2519.403627
The Boy Next Door         1310.646375
The Conjuring             2446.154931
The Fault in Our Stars    2559.723617
The Hangover              1312.201769
The Imitation Game        1668.255057
The King's Speech         2761.410327
The Lives of Others       3500.000000
The Purge                 2977.620900
The Visit                 1969.001240
Unfriended                6288.209000
Name: recovery_rate, dtype: float64

In [78]:
# Assuming your DataFrame is named "df"
#recovery_rate = df[df['movie_title'] == 'Avatar']['recovery_rate'].values[0]
crrrew = merged[merged['title']=='Annabelle']['crew'].tolist()

In [79]:
merged.groupby('proCm1')['recovery_rate'].max()

proCm1
1492 Pictures                   193.976390
21 Laps Entertainment           274.184440
Alcon Entertainment            1066.235548
Alliance Films                 6467.276667
Amblin Entertainment            277.345234
                                  ...
WingNut Films                   702.732037
Wonderland Sound and Vision     512.101576
Working Title Films             824.844587
Worldview Entertainment         136.668900
Zentropa Entertainments         294.828351
Name: recovery_rate, Length: 153, dtype: float64

In [80]:
top1p  =merged.groupby('proCm1')['recovery_rate'].max().loc[lambda x: x >= 1300]
top1p = top1p.index.tolist()
top1p[0:10]
top1p

['Alliance Films',
 'Arte',
 'Bazelevs Production',
 'Black Bear Pictures',
 'Blumhouse Productions',
 'Extension 765',
 'Focus Features',
 "Forest Whitaker's Significant Productions",
 'Fox 2000 Pictures',
 'Fox Searchlight Pictures',
 'Legendary Pictures',
 'New Line Cinema',
 'The Weinstein Company',
 'Twentieth Century Fox Film Corporation',
 'Universal Pictures']

In [81]:
#To get name bw 2 codnitions
top2p = merged.groupby('proCm1')['recovery_rate'].max().loc[(merged.groupby('proCm1')['recovery_rate'].max() >= 900) & (merged.groupby('proCm1')['recovery_rate'].max() < 1300)]
top2p = top2p.index.tolist()
top2p[0:10]
top2p

['Alcon Entertainment',
 'Bold Films',
 'Columbia Pictures Corporation',
 'IFC Films',
 'Ingenious Film Partners',
 'Ingenious Media',
 'Lionsgate',
 'New Line Productions',
 'Paramount Pictures',
 'Plan B Entertainment',
 'STX Entertainment',
 'Screen Gems',
 'Summit Entertainment',
 'United Artists',
 'Universal Studios',
 'Village Roadshow Pictures']

In [82]:
#To get name bw 2 codnitions
top3p = merged.groupby('proCm1')['recovery_rate'].max().loc[(merged.groupby('proCm1')['recovery_rate'].max() >= 500) & (merged.groupby('proCm1')['recovery_rate'].max() < 900)]
top3p = top3p.index.tolist()
top3p[0:10]
top3p

['BBC Films',
 'Blue Sky Studios',
 'Brownstone Productions',
 'Cineclick Asia',
 'Columbia Pictures',
 'DC Comics',
 'Dune Entertainment',
 'Emmett/Furla Films',
 'GK Films',
 'Gotham Group',
 'Gravier Productions',
 'Greenestreet Films',
 'Impact Pictures',
 'Intrepid Pictures',
 'Katalyst Films',
 'Lakeshore Entertainment',
 'Likely Story',
 'Marvel Studios',
 'Miramax Films',
 'Nick Wechsler Productions',
 'Northern Lights Films',
 'Paramount Vantage',
 'Perdido Productions',
 'RabbitBandini Productions',
 'Silver Pictures',
 'Touchstone Pictures',
 'TriStar Pictures',
 'Téléfilm Canada',
 'Virtual Studios',
 'Walt Disney Pictures',
 'Warner Bros.',
 'Waverly Films',
 'Wildgaze Films',
 'WingNut Films',
 'Wonderland Sound and Vision',
 'Working Title Films']

In [83]:
#To get name bw 2 codnitions
top4p = merged.groupby('proCm1')['recovery_rate'].max().loc[(merged.groupby('proCm1')['recovery_rate'].max() >= 250) & (merged.groupby('proCm1')['recovery_rate'].max() < 500)]
top4p = top4p.index.tolist()
top4p[0:10]
top4p

['21 Laps Entertainment',
 'Amblin Entertainment',
 'Bedford Falls Productions',
 'Castle Rock Entertainment',
 'DNA Films',
 'Darkwoods Productions',
 'Davis-Films',
 'Double Feature Films',
 'DreamWorks',
 'DreamWorks Animation',
 'DreamWorks SKG',
 'Eon Productions',
 'Escape Artists',
 'Estudios Picasso',
 'Film 4',
 'Gary Sanchez Productions',
 'HanWay Films',
 'Happy Madison Productions',
 'Hunting Lane Films',
 'Icon Productions',
 'Imagine Entertainment',
 'Kennedy Miller Productions',
 'Kramer & Sigman Films',
 'Lions Gate Films',
 'Lucasfilm',
 'Millennium Films',
 'Nu Image Films',
 'One Race Productions',
 'Pixar Animation Studios',
 'Regency Enterprises',
 'Scott Rudin Productions',
 'Smokewood Entertainment Group',
 'Spyglass Entertainment',
 'Studio Babelsberg',
 'Temple Hill Productions',
 'The Kennedy/Marshall Company',
 'The Mark Gordon Company',
 'Treehouse Pictures',
 'Vertigo Entertainment',
 'Virgin Produced',
 'Walt Disney Animation Studios',
 'Zentropa Entertainments']

In [84]:
#To get name bw 2 codnitions
top5p = merged.groupby('proCm1')['recovery_rate'].max().loc[(merged.groupby('proCm1')['recovery_rate'].max() >= 100) & (merged.groupby('proCm1')['recovery_rate'].max() < 250)]
top5p = top5p.index.tolist()
top5p[0:10]
top5p

['1492 Pictures',
 'American Zoetrope',
 'Anarchos Productions',
 'Blue Askew',
 'Blueprint Pictures',
 'CJ Entertainment',
 'Cloud Eight Films',
 'Constantin Film Produktion',
 'Dark Castle Entertainment',
 'Davis Entertainment',
 'De Line Pictures',
 'Dimension Films',
 'Endgame Entertainment',
 'Film Department, The',
 'Hammer Film Productions',
 'Infinitum Nihil',
 'Infinity Features Entertainment',
 'Ixtlan',
 'Liberty Films UK',
 'Michael London Productions',
 'Relativity Media',
 'Revolution Films',
 'Scott Free Productions',
 'Sidney Kimmel Entertainment',
 'Sunswept Entertainment',
 'TS Productions',
 'The Zanuck Company',
 'Walden Media',
 'Worldview Entertainment']

In [85]:
otherp  = merged.groupby('proCm1')['recovery_rate'].max().loc[lambda x:x<100]
otherp =otherp.index.tolist()
otherp

['Anchor Bay Films',
 'Appian Way',
 'Bazmark Films',
 'Film Science',
 'Ghoulardi Film Company',
 'Glass Eye Pix',
 'Good Films',
 'Grosvenor Park Media Ltd.',
 'Metro-Goldwyn-Mayer (MGM)',
 'Pathé Pictures International',
 'Phase 4 Films',
 'Scottish Screen',
 'Solaris Film',
 'StudioCanal',
 'This Is That Productions']

In [86]:
def convertP1(row):
    if row in top1p:
        return 6
    elif row in top2p:
        return 5
    elif row in top3p:
        return 4
    elif row in top4p:
        return 3
    elif row in top5p:
        return 2
    elif row in otherp:
        return 1
    else:
        return 0
    

merged['grp_proCm1'] = merged['proCm1'].apply(convertP1)

In [87]:
merged[merged['grp_proCm1']=='']

Empty DataFrame
Columns: [budget, runtime, revenue, no:maleCrew, no:maleCast, release_month, release_dow, release_year, no:Cast, no:Crew, mainGenre, no:keywords, prod_company, no:femCast, latestDir, Action, Adventure, Aniimation, Biography, Comedy, Crime, Drama, Family, Fantasy, History, Horror, Music, Musical, Mystery, Romance, Sci-Fi, Sport, Thriller, War, grp_mainLead, grp_co_lead1, grp_co_lead2, grp_writer, grp_Editor, title, crew, recovery_rate, production_companies, p_compn, proCm1, proCm2, proCm3, grp_proCm1]
Index: []

[0 rows x 48 columns]

In [88]:
merged['grp_proCm1'].unique()

array([5, 4, 6, 3, 2, 1], dtype=int64)

In [89]:
merged['grp_proCm2'] = merged['proCm2'].apply(convertP1)

In [90]:
merged[merged['grp_proCm2']=='']

Empty DataFrame
Columns: [budget, runtime, revenue, no:maleCrew, no:maleCast, release_month, release_dow, release_year, no:Cast, no:Crew, mainGenre, no:keywords, prod_company, no:femCast, latestDir, Action, Adventure, Aniimation, Biography, Comedy, Crime, Drama, Family, Fantasy, History, Horror, Music, Musical, Mystery, Romance, Sci-Fi, Sport, Thriller, War, grp_mainLead, grp_co_lead1, grp_co_lead2, grp_writer, grp_Editor, title, crew, recovery_rate, production_companies, p_compn, proCm1, proCm2, proCm3, grp_proCm1, grp_proCm2]
Index: []

[0 rows x 49 columns]

In [91]:
merged['grp_proCm2'].unique()#0 comes if name is not present in list

array([6, 0, 4, 3, 5, 1, 2], dtype=int64)

In [92]:
merged['grp_proCm3'] = merged['proCm3'].apply(convertP1)

In [93]:
merged['grp_proCm3'].isna().sum()

0

In [94]:
merged['grp_proCm3'].unique()

array([4, 0, 2, 6, 3, 1, 5], dtype=int64)

In [95]:
merged.columns

Index(['budget', 'runtime', 'revenue', 'no:maleCrew', 'no:maleCast',
       'release_month', 'release_dow', 'release_year', 'no:Cast', 'no:Crew',
       'mainGenre', 'no:keywords', 'prod_company', 'no:femCast', 'latestDir',
       'Action', 'Adventure', 'Aniimation', 'Biography', 'Comedy', 'Crime',
       'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Musical',
       'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War',
       'grp_mainLead', 'grp_co_lead1', 'grp_co_lead2', 'grp_writer',
       'grp_Editor', 'title', 'crew', 'recovery_rate', 'production_companies',
       'p_compn', 'proCm1', 'proCm2', 'proCm3', 'grp_proCm1', 'grp_proCm2',
       'grp_proCm3'],
      dtype='object')

In [96]:
newmerged = merged[['budget','runtime','revenue','no:maleCrew','no:maleCast','release_month','release_dow','release_year', 'no:Cast', 'no:Crew','no:keywords','no:femCast','latestDir','Action', 'Adventure', 'Aniimation', 'Biography', 'Comedy', 'Crime',
       'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Musical',
       'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'grp_mainLead', 'grp_co_lead1', 'grp_co_lead2','grp_writer','grp_Editor','grp_proCm1','grp_proCm2',
       'grp_proCm3','recovery_rate']]

In [97]:
newmerged.head()#p351,611,207 --o:284,139,100

,budget,runtime,revenue,no:maleCrew,no:maleCast,release_month,release_dow,release_year,no:Cast,no:Crew,...,War,grp_mainLead,grp_co_lead1,grp_co_lead2,grp_writer,grp_Editor,grp_proCm1,grp_proCm2,grp_proCm3,recovery_rate
0,237000000,162.0,2787965087,28,20,12,3,2009,83,153,...,0.0,5,0,0,5,5,5,6,4,1176.356577
1,300000000,169.0,961000000,15,25,5,5,2007,34,32,...,0.0,4,0,0,3,4,4,0,0,320.333333
2,245000000,148.0,880674609,25,55,10,0,2015,83,155,...,0.0,4,0,0,3,3,4,0,0,359.459024
3,250000000,165.0,1084939099,37,73,7,0,2012,158,217,...,0.0,4,3,0,3,4,6,4,0,433.975640
4,260000000,132.0,284139100,25,19,3,2,2012,27,132,...,0.0,2,0,0,5,2,4,0,0,109.284269

In [98]:
def convertRate(row):
    if row >=1300:
        return 6    #all-time blockbuster
    elif 900<=row<1300:
        return 5    #blockbuster
    elif 500<=row<900:
        return 4   #super-hit
    elif 250<=row<500:
        return 3   #hit
    elif 100<=row<250:
        return 2   #avg
    elif row<100:
        return 1   #flop
    else:
        return 0   #flop
    

newmerged['hit_list'] = newmerged['recovery_rate'].apply(convertRate)

C:\Users\HP\AppData\Local\Temp\ipykernel_11100\4127022309.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newmerged['hit_list'] = newmerged['recovery_rate'].apply(convertRate)

In [99]:
newmerged['hit_list'].unique()

array([5, 3, 2, 4, 1, 6], dtype=int64)

In [100]:
newmerged['hit_list'].value_counts()

3    217
2    169
4     99
1     47
5     31
6     22
Name: hit_list, dtype: int64

In [101]:
newmerged.columns

Index(['budget', 'runtime', 'revenue', 'no:maleCrew', 'no:maleCast',
       'release_month', 'release_dow', 'release_year', 'no:Cast', 'no:Crew',
       'no:keywords', 'no:femCast', 'latestDir', 'Action', 'Adventure',
       'Aniimation', 'Biography', 'Comedy', 'Crime', 'Drama', 'Family',
       'Fantasy', 'History', 'Horror', 'Music', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'grp_mainLead',
       'grp_co_lead1', 'grp_co_lead2', 'grp_writer', 'grp_Editor',
       'grp_proCm1', 'grp_proCm2', 'grp_proCm3', 'recovery_rate', 'hit_list'],
      dtype='object')

In [102]:
newmerged.corr()['revenue']

budget           0.751297
runtime          0.328206
revenue          1.000000
no:maleCrew      0.368443
no:maleCast      0.410327
release_month    0.060540
release_dow     -0.220588
release_year     0.033673
no:Cast          0.264226
no:Crew          0.368983
no:keywords      0.163079
no:femCast       0.106772
latestDir        0.205616
Action           0.288826
Adventure        0.490542
Aniimation       0.253795
Biography       -0.102851
Comedy          -0.106001
Crime           -0.162464
Drama           -0.294729
Family           0.057240
Fantasy          0.187969
History         -0.065264
Horror          -0.174284
Music           -0.047801
Musical          0.029830
Mystery         -0.117378
Romance         -0.175632
Sci-Fi           0.195966
Sport           -0.064301
Thriller        -0.045304
War             -0.026406
grp_mainLead     0.187390
grp_co_lead1     0.049407
grp_co_lead2     0.018880
grp_writer       0.305953
grp_Editor       0.246574
grp_proCm1       0.129272
grp_proCm2       0.140276
grp_proCm3       0.045647
recovery_rate    0.125670
hit_list         0.329456
Name: revenue, dtype: float64

In [200]:
x = newmerged.drop(columns = ['no:Cast','release_month','no:Crew','budget','runtime','no:maleCast','grp_proCm2','grp_proCm3','revenue','no:femCast','release_year','no:maleCrew','release_dow','recovery_rate','hit_list','grp_co_lead2'])

In [201]:
x.columns

Index(['no:keywords', 'latestDir', 'Action', 'Adventure', 'Aniimation',
       'Biography', 'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'History',
       'Horror', 'Music', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport',
       'Thriller', 'War', 'grp_mainLead', 'grp_co_lead1', 'grp_writer',
       'grp_Editor', 'grp_proCm1'],
      dtype='object')

In [202]:
x.head()

,no:keywords,latestDir,Action,Adventure,Aniimation,Biography,Comedy,Crime,Drama,Family,...,Romance,Sci-Fi,Sport,Thriller,War,grp_mainLead,grp_co_lead1,grp_writer,grp_Editor,grp_proCm1
0,21,5,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5,0,5,5,5
1,16,4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4,0,3,4,4
2,7,4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,4,0,3,3,4
3,21,4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,4,3,3,4,6
4,16,2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2,0,5,2,4

In [203]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 585 entries, 0 to 584
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   no:keywords   585 non-null    int64
 1   latestDir     585 non-null    int64
 2   Action        585 non-null    float64
 3   Adventure     585 non-null    float64
 4   Aniimation    585 non-null    float64
 5   Biography     585 non-null    float64
 6   Comedy        585 non-null    float64
 7   Crime         585 non-null    float64
 8   Drama         585 non-null    float64
 9   Family        585 non-null    float64
 10  Fantasy       585 non-null    float64
 11  History       585 non-null    float64
 12  Horror        585 non-null    float64
 13  Music         585 non-null    float64
 14  Musical       585 non-null    float64
 15  Mystery       585 non-null    float64
 16  Romance       585 non-null    float64
 17  Sci-Fi        585 non-null    float64
 18  Sport         585 non-null    float64
 19  Thriller      585 non-null    float64
 20  War           585 non-null    float64
 21  grp_mainLead  585 non-null    int64
 22  grp_co_lead1  585 non-null    int64
 23  grp_writer    585 non-null    int64
 24  grp_Editor    585 non-null    int64
 25  grp_proCm1    585 non-null    int64
dtypes: float64(19), int64(7)
memory usage: 139.6 KB

In [204]:
first_row_values = x.iloc[4].values.tolist()
first_row_values

[16.0,
 2.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 5.0,
 2.0,
 4.0]

In [205]:
merged.tail()

,budget,runtime,revenue,no:maleCrew,no:maleCast,release_month,release_dow,release_year,no:Cast,no:Crew,...,crew,recovery_rate,production_companies,p_compn,proCm1,proCm2,proCm3,grp_proCm1,grp_proCm2,grp_proCm3
580,2000000,108.0,572809,7,6,6,3,2010,9,13,...,"[{""credit_id"": ""52fe466dc3a36847f80fe6cb"", ""de...",28.640450,"[{""name"": ""Anchor Bay Films"", ""id"": 5860}, {""n...",Anchor Bay Films|Cinetel Films|Family of the Y...,Anchor Bay Films,Cinetel Films,Family of the Year Productions,1,0,0
581,1500000,103.0,97009150,7,9,9,0,2010,19,14,...,"[{""credit_id"": ""52fe4780c3a36847f8139515"", ""de...",6467.276667,"[{""name"": ""Alliance Films"", ""id"": 2514}, {""nam...",Alliance Films|IM Global|Stage 6 Films|Haunted...,Alliance Films,IM Global,Stage 6 Films,6,0,0
582,1000000,82.0,62882090,6,2,4,4,2015,11,41,...,"[{""credit_id"": ""53d8e7620e0a261c87002337"", ""de...",6288.209000,"[{""name"": ""Bazelevs Production"", ""id"": 1038}, ...",Bazelevs Production|Blumhouse Productions|,Bazelevs Production,Blumhouse Productions,,6,6,0
583,3500000,112.0,16566240,8,5,12,0,2010,15,26,...,"[{""credit_id"": ""52fe4708c3a36847f811fe0b"", ""de...",473.321143,"[{""name"": ""Hunting Lane Films"", ""id"": 2290}, {...",Hunting Lane Films|Silverwood Films|Incentive ...,Hunting Lane Films,Silverwood Films,Incentive Filmed Entertainment,3,0,0
584,5000000,100.0,6833445,12,6,9,3,2014,21,57,...,"[{""credit_id"": ""52fe4d0cc3a36847f824bb55"", ""de...",136.668900,"[{""name"": ""Worldview Entertainment"", ""id"": 901...",Worldview Entertainment|Dragonfly Entertainmen...,Worldview Entertainment,Dragonfly Entertainment,Sobras International Pictures,2,0,0

In [206]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 585 entries, 0 to 584
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   no:keywords   585 non-null    int64
 1   latestDir     585 non-null    int64
 2   Action        585 non-null    float64
 3   Adventure     585 non-null    float64
 4   Aniimation    585 non-null    float64
 5   Biography     585 non-null    float64
 6   Comedy        585 non-null    float64
 7   Crime         585 non-null    float64
 8   Drama         585 non-null    float64
 9   Family        585 non-null    float64
 10  Fantasy       585 non-null    float64
 11  History       585 non-null    float64
 12  Horror        585 non-null    float64
 13  Music         585 non-null    float64
 14  Musical       585 non-null    float64
 15  Mystery       585 non-null    float64
 16  Romance       585 non-null    float64
 17  Sci-Fi        585 non-null    float64
 18  Sport         585 non-null    float64
 19  Thriller      585 non-null    float64
 20  War           585 non-null    float64
 21  grp_mainLead  585 non-null    int64
 22  grp_co_lead1  585 non-null    int64
 23  grp_writer    585 non-null    int64
 24  grp_Editor    585 non-null    int64
 25  grp_proCm1    585 non-null    int64
dtypes: float64(19), int64(7)
memory usage: 139.6 KB

In [207]:
newmerged.corr()['hit_list']
#

budget          -0.120768
runtime         -0.047031
revenue          0.329456
no:maleCrew     -0.007399
no:maleCast      0.024091
release_month    0.037614
release_dow     -0.020809
release_year    -0.062808
no:Cast          0.081745
no:Crew          0.044324
no:keywords      0.090043
no:femCast       0.064429
latestDir        0.685290
Action          -0.152713
Adventure       -0.076705
Aniimation       0.070972
Biography        0.008856
Comedy           0.076772
Crime           -0.158238
Drama           -0.036843
Family          -0.015472
Fantasy         -0.054721
History          0.018126
Horror           0.042544
Music            0.108758
Musical          0.024619
Mystery          0.013974
Romance          0.047210
Sci-Fi          -0.060560
Sport           -0.044628
Thriller         0.067696
War             -0.009293
grp_mainLead     0.651340
grp_co_lead1    -0.028434
grp_co_lead2    -0.039809
grp_writer       0.881805
grp_Editor       0.656779
grp_proCm1       0.380195
grp_proCm2      -0.048704
grp_proCm3       0.009649
recovery_rate    0.745737
hit_list         1.000000
Name: hit_list, dtype: float64

In [208]:
y=newmerged['hit_list']

In [209]:
y.head()

0    5
1    3
2    3
3    3
4    2
Name: hit_list, dtype: int64

In [210]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

best_random_state = 0
best_accuracy = 0

for currstate in range(100):
    X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.25, random_state=currstate)

    randomforest_model = RandomForestClassifier(n_estimators=60)
    randomforest_model.fit(X_train, Y_train)
    y_pred_rf = randomforest_model.predict(X_test)

    # Calculate evaluation metrics for Random Forest
    conf_mat_rf = confusion_matrix(Y_test, y_pred_rf)
    acc_rf = accuracy_score(Y_test, y_pred_rf)
    precision_rf = precision_score(Y_test, y_pred_rf, average='weighted')

    if acc_rf > best_accuracy:
        best_accuracy = acc_rf
        best_random_state = currstate

print('Best Random State:', best_random_state)
print('Best Accuracy:', best_accuracy)
#print('Random State:', currstate)

Best Random State: 26
Best Accuracy: 1.0

In [212]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.25, random_state=26)
randomforest_model = RandomForestClassifier(n_estimators=60)
randomforest_model.fit(X_train, Y_train)
y_pred_rf = randomforest_model.predict(X_test)

    # Calculate evaluation metrics for Random Forest
conf_mat_rf = confusion_matrix(Y_test, y_pred_rf)
acc_rf = accuracy_score(Y_test, y_pred_rf)
precision_rf = precision_score(Y_test, y_pred_rf, average='weighted')
print('Confusion Matrix for Random Forest:')
print(conf_mat_rf)
print('Accuracy for Random Forest:', acc_rf)
print('Precision:', precision_rf)
print()

Confusion Matrix for Random Forest:
[[13  0  0  0  0  0]
 [ 0 42  0  0  0  0]
 [ 0  0 57  0  0  0]
 [ 0  0  0 24  0  0]
 [ 0  0  0  0  8  0]
 [ 0  0  0  0  0  3]]
Accuracy for Random Forest: 1.0
Precision: 1.0

In [283]:
 X_train.shape

(438, 26)

In [214]:
newmerged.corr()['hit_list']

budget          -0.120768
runtime         -0.047031
revenue          0.329456
no:maleCrew     -0.007399
no:maleCast      0.024091
release_month    0.037614
release_dow     -0.020809
release_year    -0.062808
no:Cast          0.081745
no:Crew          0.044324
no:keywords      0.090043
no:femCast       0.064429
latestDir        0.685290
Action          -0.152713
Adventure       -0.076705
Aniimation       0.070972
Biography        0.008856
Comedy           0.076772
Crime           -0.158238
Drama           -0.036843
Family          -0.015472
Fantasy         -0.054721
History          0.018126
Horror           0.042544
Music            0.108758
Musical          0.024619
Mystery          0.013974
Romance          0.047210
Sci-Fi          -0.060560
Sport           -0.044628
Thriller         0.067696
War             -0.009293
grp_mainLead     0.651340
grp_co_lead1    -0.028434
grp_co_lead2    -0.039809
grp_writer       0.881805
grp_Editor       0.656779
grp_proCm1       0.380195
grp_proCm2      -0.048704
grp_proCm3       0.009649
recovery_rate    0.745737
hit_list         1.000000
Name: hit_list, dtype: float64

In [216]:
import numpy as np
first_row_valuess = x.iloc[0].values.tolist()
first_row_values
firstrow  =np.array(first_row_valuess)
reshaped = firstrow.reshape(1,26)
randomforest_model.predict(reshaped)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([5], dtype=int64)

In [154]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

# Create a Decision Tree classifier
decision_tree_model = DecisionTreeClassifier()

# Train the model
decision_tree_model.fit(X_train, y_train)

# Make predictions on the test set


y_pred_dt = decision_tree_model.predict(X_test)

# Calculate evaluation metrics for Decision Tree
accuracy_dt = accuracy_score(y_test, y_pred_dt)
precision_dt = precision_score(y_test, y_pred_dt, average='weighted')
recall_dt = recall_score(y_test, y_pred_dt, average='weighted')

# Print the evaluation metrics
print('Accuracy for Decision Tree:', accuracy_dt)
print('Precision for Decision Tree:', precision_dt)
print('Recall for Decision Tree:', recall_dt)


print("p",y_pred_dt)
print(y_test)

Accuracy for Decision Tree: 0.9591836734693877
Precision for Decision Tree: 0.9611825249580351
Recall for Decision Tree: 0.9591836734693877
p [4 3 6 1 3 2 2 3 3 6 3 1 3 4 1 5 3 1 2 2 2 4 3 3 3 3 2 2 3 4 3 3 3 5 3 3 2
 3 2 2 3 2 3 4 4 2 3 2 2 2 2 4 6 3 2 5 3 4 4 3 3 6 3 2 3 3 2 6 3 2 3 3 3 2
 6 2 3 4 5 3 2 3 3 3 3 2 5 3 6 4 3 5 3 2 4 4 2 3 2 2 4 3 2 3 5 2 3 2 3 5 2
 1 5 3 2 3 4 5 3 3 6 2 4 3 6 3 3 4 4 3 2 2 5 4 3 3 2 2 1 4 2 2 2 2 1 2 2]
246    4
92     3
517    6
186    1
390    3
      ..
417    2
102    2
513    1
108    2
213    2
Name: hit_list, Length: 147, dtype: int64

In [126]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

# Create a Logistic Regression classifier
logistic_regression_model = LogisticRegression()

# Train the model
logistic_regression_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred_lr = logistic_regression_model.predict(X_test)

# Calculate evaluation metrics for Logistic Regression
accuracy_lr = accuracy_score(y_test, y_pred_lr)
precision_lr = precision_score(y_test, y_pred_lr, average='weighted')
recall_lr = recall_score(y_test, y_pred_lr, average='weighted')

# Print the evaluation metrics
print('Accuracy for Logistic Regression:', accuracy_lr)
print('Precision for Logistic Regression:', precision_lr)
print('Recall for Logistic Regression:', recall_lr)

Accuracy for Logistic Regression: 0.4013605442176871
Precision for Logistic Regression: 0.16109028645471796
Recall for Logistic Regression: 0.4013605442176871

C:\Users\HP\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [193]:
strr = 'Action,Horror,Sci-Fi'
genres = strr.split(',')
genre_columns = ['Action', 'Adventure', 'Aniimation', 'Biography', 'Comedy', 'Crime', 'Drama', 'Family',
                 'Fantasy', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
                 'Sport', 'Thriller']
genre_values = [1 if genre in genres else 0 for genre in genre_columns]

# Convert input_data to DataFrame
input_data = pd.DataFrame()

# Assign genre values to the corresponding columns
input_data[genre_columns] = pd.DataFrame([genre_values])
input_data
# Make the prediction using the trained model
#prediction = randomforest_model.predict(input_data)

,Action,Adventure,Aniimation,Biography,Comedy,Crime,Drama,Family,Fantasy,History,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller
0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0

In [ ]:
#we'lljust load the names of director , mainlead, colead1,2; writer , editor to respective lists

In [171]:
mergedn1 = pd.read_csv('dupFinalmerged.csv')
mergedn1 = mergedn1[mergedn1['recovery_rate']!=0]

In [172]:
#DIRECTOR

In [173]:
top1 = mergedn1.groupby('Director')['recovery_rate'].max().loc[lambda x: x >= 1300]
top1dir = top1.index.tolist()
top2 = mergedn1.groupby('Director')['recovery_rate'].max().loc[(mergedn1.groupby('Director')['recovery_rate'].max() >= 900) & (mergedn1.groupby('Director')['recovery_rate'].max() < 1300)]
top2dir = top2.index.tolist()
top3 = mergedn1.groupby('Director')['recovery_rate'].max().loc[(mergedn1.groupby('Director')['recovery_rate'].max() >= 500) & (mergedn1.groupby('Director')['recovery_rate'].max() < 900)]
top3dir = top3.index.tolist()
top4 = mergedn1.groupby('Director')['recovery_rate'].max().loc[(mergedn1.groupby('Director')['recovery_rate'].max() >= 250) & (mergedn1.groupby('Director')['recovery_rate'].max() < 500)]
top4dir = top4.index.tolist()
top5 = mergedn1.groupby('Director')['recovery_rate'].max().loc[(mergedn1.groupby('Director')['recovery_rate'].max() >= 100) & (mergedn1.groupby('Director')['recovery_rate'].max() < 250)]
top5dir = top5.index.tolist()
other  = mergedn1.groupby('Director')['recovery_rate'].max().loc[lambda x:x<100]
otherdir =other.index.tolist()

In [294]:
len(top1dir)+len(top2dir)+len(top3dir)+len(top4dir)

253

In [175]:
def convertDir(row):
    if row in top1dir:
        return 6
    elif row in top2dir:
        return 5
    elif row in top3dir:
        return 4
    elif row in top4dir:
        return 3
    elif row in top5dir:
        return 2
    elif row in other:
        return 1
    else:
        return 0

mergedn1['latestDir'] = mergedn1['Director'].apply(convertDir)
mergedn1['latestDir'].value_counts().sum()

577

In [176]:
mergedn2 = pd.read_csv('dupFinalmerged1(uptodir_genre).csv')

In [177]:
mergedn2[['main_lead','co_lead1','co_lead2','co_lead3']] = mergedn2['Actors'].str.split(',' ,expand=True)
mergedn2 = mergedn2[mergedn2['recovery_rate']!=0]

top1a = mergedn2.groupby('main_lead')['recovery_rate'].max().loc[lambda x: x >= 1300]
top1ac = top1a.index.tolist()
top2a = mergedn2.groupby('main_lead')['recovery_rate'].max().loc[(mergedn2.groupby('main_lead')['recovery_rate'].max() >= 900) & (mergedn2.groupby('main_lead')['recovery_rate'].max() < 1300)]
top2ac = top2a.index.tolist()
top3a = mergedn2.groupby('main_lead')['recovery_rate'].max().loc[(mergedn2.groupby('main_lead')['recovery_rate'].max() >= 500) & (mergedn2.groupby('main_lead')['recovery_rate'].max() < 900)]
top3ac = top3a.index.tolist()
top4a = mergedn2.groupby('main_lead')['recovery_rate'].max().loc[(mergedn2.groupby('main_lead')['recovery_rate'].max() >= 250) & (mergedn2.groupby('main_lead')['recovery_rate'].max() < 500)]
top4ac = top4a.index.tolist()
top5a = mergedn2.groupby('main_lead')['recovery_rate'].max().loc[(mergedn2.groupby('main_lead')['recovery_rate'].max() >= 100) & (mergedn2.groupby('main_lead')['recovery_rate'].max() < 250)]
top5ac = top5a.index.tolist()
othera  = mergedn2.groupby('main_lead')['recovery_rate'].max().loc[lambda x:x<100]
otherac =othera.index.tolist()

In [178]:
top2ac

['Anna Kendrick',
 'Anne Hathaway',
 'Bradley Cooper',
 'Chiwetel Ejiofor',
 'Chris Hemsworth',
 'Chris Pratt',
 "Dylan O'Brien",
 'Ellar Coltrane',
 'Emilia Clarke',
 'Emma Stone',
 'Jackie Chan',
 'Jason Bateman',
 'Jennifer Lawrence',
 'Jessica Chastain',
 'Kenny Wormald',
 'Kristen Stewart',
 'Lake Bell',
 'Liam Neeson',
 'Louis C.K.',
 'Mark Wahlberg',
 'Matthew McConaughey',
 'Meryl Streep',
 'Mila Kunis',
 'Quinton Aaron',
 'Sam Worthington',
 'Steve Carell',
 'Teresa Palmer']

In [179]:
def convertMainLead(row):
    if row in top1ac:
        return 6
    elif row in top2ac:
        return 5
    elif row in top3ac:
        return 4
    elif row in top4ac:
        return 3
    elif row in top5ac:
        return 2
    elif row in otherac:
        return 1
    else:
        return 0

mergedn2['grp_mainLead'] = mergedn2['main_lead'].apply(convertMainLead)
mergedn2['grp_co_lead1'] = mergedn2['co_lead1'].apply(convertMainLead)
mergedn2['grp_co_lead2'] = mergedn2['co_lead2'].apply(convertMainLead)

In [180]:
mergedn2.columns

Index(['budget', 'runtime', 'revenue', 'no:maleCrew', 'no:maleCast',
       'release_month', 'release_dow', 'release_year', 'no:Cast', 'no:Crew',
       'mainGenre', 'no:keywords', 'prod_company', 'no:femCast', 'latestDir',
       'Action', 'Adventure', 'Aniimation', 'Biography', 'Comedy', 'Crime',
       'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Musical',
       'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'title',
       'Actors', 'recovery_rate', 'crew', 'main_lead', 'co_lead1', 'co_lead2',
       'co_lead3', 'grp_mainLead', 'grp_co_lead1', 'grp_co_lead2'],
      dtype='object')

In [181]:
import ast
def getWriter(row):
    nn=''
    li = ast.literal_eval(row)
    for dictt in li:
        if((dictt['job'])=='Writer' or 'Screenplay'):
            nn = dictt['name']
    return nn

mergedn2['WriterName'] = mergedn2['crew'].apply(getWriter)
mergedn2[mergedn2['WriterName']=='']


top1w = mergedn2.groupby('WriterName')['recovery_rate'].max().loc[lambda x: x >= 1300]

top1w = top1w.index.tolist()

top2w = mergedn2.groupby('WriterName')['recovery_rate'].max().loc[(mergedn2.groupby('WriterName')['recovery_rate'].max() >= 900) & (mergedn2.groupby('WriterName')['recovery_rate'].max() < 1300)]
top2w = top2w.index.tolist()

top3w = mergedn2.groupby('WriterName')['recovery_rate'].max().loc[(mergedn2.groupby('WriterName')['recovery_rate'].max() >= 500) & (mergedn2.groupby('WriterName')['recovery_rate'].max() < 900)]
top3w = top3w.index.tolist()
top4w = mergedn2.groupby('WriterName')['recovery_rate'].max().loc[(mergedn2.groupby('WriterName')['recovery_rate'].max() >= 250) & (mergedn2.groupby('WriterName')['recovery_rate'].max() < 500)]
top4w = top4w.index.tolist()
top5w = mergedn2.groupby('WriterName')['recovery_rate'].max().loc[(mergedn2.groupby('WriterName')['recovery_rate'].max() >= 100) & (mergedn2.groupby('WriterName')['recovery_rate'].max() < 250)]
top5w = top5w.index.tolist()
otherw  = mergedn2.groupby('WriterName')['recovery_rate'].max().loc[lambda x:x<100]
otherw =otherw.index.tolist()




def convertWritr(row):
    if row in top1w:
        return 6
    elif row in top2w:
        return 5
    elif row in top3w:
        return 4
    elif row in top4w:
        return 3
    elif row in top5w:
        return 2
    elif row in otherw:
        return 1
    else:
        return 0
    
    
mergedn2['WriterName'].value_counts()
mergedn2['grp_writer'] = mergedn2['WriterName'].apply(convertWritr)
mergedn2['grp_writer'].value_counts()

3    216
2    140
4    113
1     42
5     39
6     27
Name: grp_writer, dtype: int64

In [182]:
'Aida Swinson' in top2w

True

In [183]:
top2w

['Aida Swinson',
 'Dave Pultz',
 'Esther Vivante',
 'James Buxton',
 'Jeffrey Cassidy',
 'Jim DeFelice',
 'Judy Richter',
 'Karin Silvestri',
 'Kevin Reynolds',
 'Kim Garman',
 'Kurt and Bart',
 'Laurin Guthrie',
 'Lee Orloff',
 'Marc Lema',
 'Mary H. Ellis',
 'Matt Thompson',
 'Michele Ziegler',
 'Mike Revell',
 'Min Windle',
 'Nick Smith',
 'Robert Taylor',
 'Ryan Bradley',
 'Régis Desissert',
 'Samantha Ward',
 'Scott Moore',
 'Stephenie Meyer',
 'Stig Anderson',
 'Vanessa Lapato',
 'Warwick Sadler']

In [184]:
def getEditor(row):
    nn=''
    li=ast.literal_eval(row)
    for dictt in li:
        if dictt['department']=='Editing':
            nn=dictt['name']
    return nn

mergedn2['EditorName'] = mergedn2['crew'].apply(getEditor)

In [185]:
mergedn2[mergedn2['EditorName']=='']

,budget,runtime,revenue,no:maleCrew,no:maleCast,release_month,release_dow,release_year,no:Cast,no:Crew,...,main_lead,co_lead1,co_lead2,co_lead3,grp_mainLead,grp_co_lead1,grp_co_lead2,WriterName,grp_writer,EditorName
28,200000000,104.0,743559607,8,16,6,3,2013,24,13,...,Billy Crystal,John Goodman,Steve Buscemi,Helen Mirren,3,0,0,Peter Doctor,3,
33,200000000,114.0,219851172,15,14,6,3,2011,23,47,...,Ryan Reynolds,Blake Lively,Peter Sarsgaard,Mark Strong,6,0,0,Scheryl W Brown,3,
39,105000000,143.0,351040419,9,16,5,4,2013,31,18,...,Leonardo DiCaprio,Carey Mulligan,Joel Edgerton,Tobey Maguire,4,0,0,Damien Drew,3,
44,185000000,93.0,538983207,12,6,6,3,2012,15,44,...,Kelly Macdonald,Billy Connolly,Emma Thompson,Julie Walters,3,0,0,Laura Leganza Reynolds,3,
54,145000000,112.0,401128639,5,10,7,1,2008,15,17,...,Brendan Fraser,Jet Li,Maria Bello,Michelle Yeoh,3,0,0,Lorette Leblanc,3,
57,175000000,118.0,302469017,12,16,8,1,2009,23,23,...,Dennis Quaid,Channing Tatum,Marlon Wayans,Adewale Akinnuoye-Agbaje,2,0,0,Jeremy Stewart,3,
62,180000000,97.0,758539785,3,15,5,2,2014,82,14,...,Angelina Jolie,Elle Fanning,Sharlto Copley,Lesley Manville,3,0,0,Dhumal Sagar,3,
84,150000000,107.0,373062864,5,23,4,1,2009,63,8,...,Hugh Jackman,Liev Schreiber,Ryan Reynolds,Danny Huston,4,0,0,Judd Wild,3,
97,145000000,95.0,521170825,6,13,1,5,2016,34,34,...,Jack Black,Bryan Cranston,Dustin Hoffman,Angelina Jolie,3,0,0,Rui Gang Li,3,
98,145000000,133.0,694713380,13,10,12,2,2011,16,28,...,Tom Cruise,Jeremy Renner,Simon Pegg,Paula Patton,3,0,0,Luca Marco Paracels,4,
120,130000000,95.0,321887208,7,14,10,3,2010,23,14,...,Will Ferrell,Jonah Hill,Brad Pitt,Tina Fey,3,0,0,Andy Schuhler,2,
135,115000000,114.0,164602163,5,25,4,2,2016,42,7,...,Chris Hemsworth,Jessica Chastain,Charlize Theron,Emily Blunt,5,0,0,Cedric Nicolas-Troyan,4,
136,125000000,101.0,477200000,10,13,8,3,2014,28,54,...,Megan Fox,Will Arnett,William Fichtner,Noel Fisher,3,0,0,Jeremy Stewart,3,
164,95000000,102.0,114178613,11,15,12,4,2014,35,55,...,Ben Barnes,Julianne Moore,Jeff Bridges,Alicia Vikander,2,0,0,Chris Street,2,
174,100000000,125.0,94061311,5,9,8,2,2016,19,8,...,Jack Huston,Toby Kebbell,Rodrigo Santoro,Nazanin Boniadi,1,0,0,Mark Burnett,1,
177,90000000,106.0,174578751,10,11,8,2,2013,22,29,...,Logan Lerman,Alexandra Daddario,Brandon T. Jackson,Nathan Fillion,3,0,0,Atlin Mitchell,6,
179,90000000,96.0,484635760,10,8,4,6,2011,13,16,...,Jesse Eisenberg,Anne Hathaway,George Lopez,Karen Disher,4,0,0,Arun Ram-Mohan,4,
186,60000000,112.0,47664559,5,13,7,1,2010,30,7,...,Michael Cera,Mary Elizabeth Winstead,Kieran Culkin,Alison Pill,4,0,0,Nigel Godrich,1,
189,85000000,120.0,160388063,12,8,7,4,2008,11,14,...,Ron Perlman,Selma Blair,Doug Jones,John Alexander,2,0,0,Géza Kovács,2,
199,80000000,89.0,473226958,1,13,9,0,2015,22,9,...,Adam Sandler,Andy Samberg,Selena Gomez,Kevin James,4,0,0,Tony Mecca,4,
206,50000000,117.0,90450008,8,18,7,4,2007,152,23,...,John Travolta,Queen Latifah,Nikki Blonsky,Michelle Pfeiffer,2,0,0,Paul Prokop,2,
208,80000000,102.0,271430189,3,9,6,3,2010,20,3,...,Adam Sandler,Salma Hayek,Kevin James,Chris Rock,4,0,0,Fred Wolf,3,
231,61000000,157.0,441809770,14,32,12,1,2012,208,46,...,Hugh Jackman,Russell Crowe,Anne Hathaway,Amanda Seyfried,4,0,0,Mark Paterson,4,
247,70000000,113.0,171844840,3,11,9,5,2009,18,6,...,Vince Vaughn,Malin Akerman,Jon Favreau,Jason Bateman,2,0,0,Christine Tisseau Giraudel,2,
249,58000000,111.0,71664962,6,17,10,2,2010,29,13,...,Bruce Willis,Helen Mirren,Morgan Freeman,Mary-Louise Parker,3,0,0,Tricia Wood,2,
254,60000000,105.0,50549107,12,13,1,2,2014,29,31,...,Chris Pine,Kevin Costner,Keira Knightley,Kenneth Branagh,3,0,0,Matt Johnson,3,
257,61000000,124.0,95696996,7,12,3,3,2007,16,10,...,Mark Wahlberg,Michael Peña,Rhona Mitra,Danny Glover,5,0,0,Karin Silvestri,5,
258,60000000,100.0,469160692,9,18,2,3,2014,35,82,...,Chris Pratt,Will Ferrell,Elizabeth Banks,Will Arnett,5,0,0,Ryan Kirby,4,
260,60000000,130.0,90565421,4,15,8,2,2013,22,12,...,Lily Collins,Jamie Campbell Bower,Robert Sheehan,Jemima West,2,0,0,Anthony Rizzo,3,
289,44000000,125.0,63327201,10,10,3,4,2013,36,19,...,Saoirse Ronan,Max Irons,Jake Abel,Diane Kruger,4,0,0,Melanie Deforrest,4,
291,44000000,125.0,63327201,10,10,3,4,2013,36,19,...,Kang-ho Song,Hee-Bong Byun,Hae-il Park,Doona Bae,4,0,0,Melanie Deforrest,4,
293,11000000,119.0,88489643,10,10,7,3,2006,36,19,...,Saoirse Ronan,Max Irons,Jake Abel,Diane Kruger,4,0,0,Melanie Deforrest,4,
295,11000000,119.0,88489643,10,10,7,3,2006,36,19,...,Kang-ho Song,Hee-Bong Byun,Hae-il Park,Doona Bae,4,0,0,Melanie Deforrest,4,
298,49900000,102.0,26121638,10,13,4,4,2011,27,11,...,Danny McBride,Natalie Portman,James Franco,Rasmus Hardiker,1,0,0,Jon Mone,1,
306,40000000,117.0,123494610,8,8,5,2,2014,31,9,...,Adam Sandler,Drew Barrymore,Wendi McLendon-Covey,Kevin Nealon,4,0,0,Clare Sera,3,
328,40000000,109.0,196781193,2,5,4,2,2014,16,4,...,Cameron Diaz,Leslie Mann,Kate Upton,Nikolaj Coster-Waldau,3,0,0,Melissa Stack,3,
336,40000000,111.0,97138686,8,5,4,0,2011,24,11,...,Neve Campbell,Courteney Cox,David Arquette,Lucy Hale,2,0,0,Karin Silvestri,5,
341,33000000,108.0,20645327,9,10,9,1,2009,24,15,...,Dennis Quaid,Ben Foster,Cam Gigandet,Antje Traue,2,0,0,Ana Dávila,1,
346,10000000,110.0,47536959,1,2,11,4,2009,22,3,...,Gabourey Sidibe,Mo'Nique,Paula Patton,Mariah Carey,3,0,0,Sapphire,3,
354,37000000,122.0,392616625,0,14,11,3,2008,26,3,...,Kristen Stewart,Robert Pattinson,Billy Burke,Sarah Clarke,5,0,0,Stephenie Meyer,5,
359,38000000,110.0,252276927,3,17,12,2,2010,31,17,...,Jeff Bridges,Matt Damon,Hailee Steinfeld,Josh Brolin,4,0,0,Craig Branham,4,
363,35000000,109.0,150483765,4,9,7,3,2011,16,4,...,Mila Kunis,Justin Timberlake,Patricia Clarkson,Jenna Elfman,5,0,0,David A. Newman,3,
382,35000000,97.0,116980662,9,20,1,3,2013,36,19,...,Nicholas Hoult,Teresa Palmer,John Malkovich,Analeigh Tipton,3,0,0,David McKeown,3,
385,30000000,89.0,114663461,2,9,1,4,2009,28,4,...,Kate Hudson,Anne Hathaway,Candice Bergen,Bryan Greenberg,3,0,0,June Diane Raphael,3,
394,30000000,123.0,64352607,4,12,10,3,2009,24,8,...,Christopher Plummer,Lily Cole,Heath Ledger,Andrew Garfield,2,0,0,Anastasia Masaro,2,
406,28000000,108.0,16374328,4,6,2,3,2016,22,13,...,Lily James,Sam Riley,Jack Huston,Bella Heathcote,4,0,0,Chris Murphy,1,
417,26000000,117.0,35926213,5,13,10,3,2014,34,5,...,James Marsden,Michelle Monaghan,Luke Bracey,Liana Liberato,2,0,0,J. Mills Goodloe,2,
422,25000000,101.0,99357138,4,5,4,3,2012,11,4,...,Zac Efron,Taylor Schilling,Blythe Danner,Riley Thomas Stewart,4,0,0,Will Fetters,3,
439,23600000,88.0,102391382,7,8,10,2,2009,16,9,...,Jesse Eisenberg,Emma Stone,Woody Harrelson,Abigail Breslin,4,0,0,Paul Wernick,3,
445,17000000,111.0,73244881,3,7,4,4,2012,17,3,...,Woody Allen,Penélope Cruz,Jesse Eisenberg,Ellen Page,3,0,0,Darius Khondji,3,
453,20000000,100.0,183936074,2,6,7,3,2016,33,4,...,Mila Kunis,Kathryn Hahn,Kristen Bell,Christina Applegate,5,0,0,Scott Moore,5,
462,20000000,103.0,34077920,2,7,2,2,2014,38,7,...,Gabriella Wilde,Alex Pettyfer,Bruce Greenwood,Robert Patrick,2,0,0,Joshua Safran,2,
465,20000000,106.0,30426096,2,16,9,4,2011,37,7,...,Anna Faris,Chris Evans,Ari Graynor,Blythe Danner,3,0,0,Dottie Starling,3,
472,21000000,99.0,72417394,3,13,3,4,2011,19,4,...,Zachary Gordon,Devon Bostick,Robert Capron,Rachael Harris,4,0,0,Jeff Kinney,3,
502,15000000,107.0,59389433,2,12,3,2,2011,31,6,...,Anne Hathaway,Jim Sturgess,Patricia Clarkson,Tom Mison,5,0,0,Nina Jacobson,3,
510,16000000,117.0,77000000,1,14,3,3,2016,47,6,...,Jennifer Garner,Kylie Rogers,Martin Henderson,Brighton Sharbino,3,0,0,Christy Beam,3,
544,700000,103.0,17986781,0,7,6,4,2015,20,3,...,Shameik Moore,Tony Revolori,Kiersey Clemons,Kimberly Elise,6,0,0,Germaine Franco,6,
550,4900000,81.0,44107032,9,5,7,3,2016,15,17,...,Teresa Palmer,Gabriel Bateman,Maria Bello,Billy Burke,5,0,0,Samantha Ward,5,
561,650000,98.0,33245,6,7,9,3,2010,14,18,...,Connor Paolo,Nick Damici,Kelly McGillis,Gregory Jones,1,0,0,Amanda Williams,1,
568,30000000,84.0,495303,4,15,9,4,2006,53,7,...,Luke Wilson,Maya Rudolph,Dax Shepard,Terry Crews,1,0,0,Michael Nelson,1,

In [186]:
top1E = mergedn2.groupby('EditorName')['recovery_rate'].max().loc[lambda x: x >= 1300]
top1E = top1E.index.tolist()
top2E = mergedn2.groupby('EditorName')['recovery_rate'].max().loc[(mergedn2.groupby('EditorName')['recovery_rate'].max() >= 900) & (mergedn2.groupby('EditorName')['recovery_rate'].max() < 1300)]
top2E = top2E.index.tolist()
top3E = mergedn2.groupby('EditorName')['recovery_rate'].max().loc[(mergedn2.groupby('EditorName')['recovery_rate'].max() >= 500) & (mergedn2.groupby('EditorName')['recovery_rate'].max() < 900)]
top3E = top3E.index.tolist()
top4E = mergedn2.groupby('EditorName')['recovery_rate'].max().loc[(mergedn2.groupby('EditorName')['recovery_rate'].max() >= 250) & (mergedn2.groupby('EditorName')['recovery_rate'].max() < 500)]
top4E = top4E.index.tolist()
top5E = mergedn2.groupby('EditorName')['recovery_rate'].max().loc[(mergedn2.groupby('EditorName')['recovery_rate'].max() >= 100) & (mergedn2.groupby('EditorName')['recovery_rate'].max() < 250)]
top5E = top5E.index.tolist()
otherE  = mergedn2.groupby('EditorName')['recovery_rate'].max().loc[lambda x:x<100]
otherE =otherE.index.tolist()
def convertEdtr(row):
    if row=='':
        return 0
    elif row in top1E:
        return 6
    elif row in top2E:
        return 5
    elif row in top3E:
        return 4
    elif row in top4E:
        return 3
    elif row in top5E:
        return 2
    elif row in otherE:
        return 1
    else:
        return 0

mergedn2['grp_Editor'] = mergedn2['EditorName'].apply(convertEdtr)

In [187]:
top2E

['Adam Brailsford',
 'Angela Hackner',
 'Bud S. Smith',
 'Christopher S. Capp',
 'Dave Pultz',
 'Elliot Greenberg',
 'Frank Smathers',
 'John C. Stuver',
 'John Wilson',
 'Katy Wood',
 'Kris Cole',
 'Lesley Walker',
 'Mark Livolsi',
 'Martin Pensa',
 'Marvin Hall',
 'Michele Conroy',
 'Nancy Richardson',
 'P.J. Burch',
 'Parke Gregg',
 'Paul Hirsch',
 'Robert Chen',
 'Susan Littenberg',
 'Thom Noble',
 'Vanessa Lapato']

In [188]:
mergedn2['grp_Editor'].value_counts()

3    188
2    120
4    114
0     60
5     36
1     31
6     28
Name: grp_Editor, dtype: int64

In [189]:
mergedn2.columns

Index(['budget', 'runtime', 'revenue', 'no:maleCrew', 'no:maleCast',
       'release_month', 'release_dow', 'release_year', 'no:Cast', 'no:Crew',
       'mainGenre', 'no:keywords', 'prod_company', 'no:femCast', 'latestDir',
       'Action', 'Adventure', 'Aniimation', 'Biography', 'Comedy', 'Crime',
       'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Musical',
       'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'title',
       'Actors', 'recovery_rate', 'crew', 'main_lead', 'co_lead1', 'co_lead2',
       'co_lead3', 'grp_mainLead', 'grp_co_lead1', 'grp_co_lead2',
       'WriterName', 'grp_writer', 'EditorName', 'grp_Editor'],
      dtype='object')

In [190]:
x.columns

Index(['no:keywords', 'latestDir', 'Action', 'Adventure', 'Aniimation',
       'Biography', 'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'History',
       'Horror', 'Music', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport',
       'Thriller', 'War', 'grp_mainLead', 'grp_co_lead1', 'grp_writer',
       'grp_Editor', 'grp_proCm1'],
      dtype='object')

In [217]:
def prepare_inputt(budget, runtime, no_male_cast,release_month,no_cast,no_crew,latest_dir,writer,editor, main_lead, co_lead1, co_lead2, prd_cmpny1, prd_cmpny2, prd_cmpny3, genre,keywordStr):
    # Convert director name to integer using convertDir function
    #convertDir,convertMainLead,convertWritr,convertEdtr,
    no_of_keyword_encoded = len(keywordStr.split())
    latest_dir_encoded = convertDir(latest_dir)

    # Convert writer name to integer using convertWrit function
    grp_writer_encoded = convertWritr(writer)

    # Convert editor name to integer using convertEdtr function
    grp_editor_encoded = convertEdtr(editor)

    # Convert main lead name to integer using convertMainLead function
    grp_main_lead_encoded = convertMainLead(main_lead)

    # Convert co_lead1 name to integer using convertCoLead1 function
    grp_co_lead1_encoded = convertMainLead(co_lead1)

    # Convert co_lead2 name to integer using convertCoLead2 function
    grp_co_lead2_encoded = convertMainLead(co_lead2)

    # Convert production company names to integers using getCmpny function
    grp_pro_cm1_encoded = convertP1(prd_cmpny1)
    grp_pro_cm2_encoded = convertP1(prd_cmpny2)
    grp_pro_cm3_encoded = convertP1(prd_cmpny3)

    # Create a DataFrame with the input values
    input_data1 = pd.DataFrame({
        #'budget': [budget],
        #'runtime': [runtime],
        #'no:maleCast': [no_male_cast],
        #'release_month': [release_month],
        #'no:Cast': [no_cast],
        #'no:Crew': [no_crew],
        'no:keywords':[no_of_keyword_encoded],
        'latestDir': [latest_dir_encoded],
    })
    

    # Split the genre string into a list of individual genres
    genres = genre.split(',')

    # Create genre columns and set their values based on the input genres
    genre_columns = ['Action', 'Adventure', 'Aniimation', 'Biography', 'Comedy', 'Crime', 'Drama', 'Family',
                     'Fantasy', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
                    'Sport', 'Thriller','War']

    genre_values = [1 if genre in genres else 0 for genre in genre_columns]
    input_data1[genre_columns] = pd.DataFrame([genre_values])
    
    
    input_data1['grp_mainLead'] = [grp_main_lead_encoded]
    input_data1['grp_co_lead1'] = [grp_co_lead1_encoded]
   # input_data1['grp_co_lead2'] = [grp_co_lead2_encoded]
    input_data1['grp_writer'] = [grp_writer_encoded]
    input_data1['grp_Editor'] = [grp_editor_encoded]
    input_data1['grp_proCm1'] = [grp_pro_cm1_encoded]
   # input_data1['grp_proCm2'] = [grp_pro_cm2_encoded]
    #input_data1['grp_proCm3'] = [grp_pro_cm3_encoded]
   
    val = randomforest_model.predict(input_data1)[0]
    
    return val

In [297]:
first_row_valuess = x.iloc[0].values.tolist()
first_row_values
firstrow  =np.array(first_row_valuess)
reshaped = firstrow.reshape(1,26)
randomforest_model.predict(reshaped)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([5], dtype=int64)

In [301]:
x.iloc[0]

no:keywords     21.0
latestDir        5.0
Action           1.0
Adventure        1.0
Aniimation       0.0
Biography        0.0
Comedy           0.0
Crime            0.0
Drama            0.0
Family           0.0
Fantasy          1.0
History          0.0
Horror           0.0
Music            0.0
Musical          0.0
Mystery          0.0
Romance          0.0
Sci-Fi           0.0
Sport            0.0
Thriller         0.0
War              0.0
grp_mainLead     5.0
grp_co_lead1     0.0
grp_writer       5.0
grp_Editor       5.0
grp_proCm1       5.0
Name: 0, dtype: float64

In [298]:
reshaped

array([[21.,  5.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,  0.,  5.,  5.,  5.]])

In [307]:
x.head()

,no:keywords,latestDir,Action,Adventure,Aniimation,Biography,Comedy,Crime,Drama,Family,...,Romance,Sci-Fi,Sport,Thriller,War,grp_mainLead,grp_co_lead1,grp_writer,grp_Editor,grp_proCm1
0,21,5,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5,0,5,5,5
1,16,4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4,0,3,4,4
2,7,4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,4,0,3,3,4
3,21,4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,4,3,3,4,6
4,16,2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2,0,5,2,4

In [303]:
keywords='war space love sience action thrilling unnatural mindpower universe fighting politics war space love sience action thrilling unnatural mindpower universe fighting politic'

In [196]:
'Adam Brailsford' in top2E
#'Aida Swinson' in top2w

True

In [197]:
'Adam Brailsford' in top2E

True

In [251]:
top4E

['Alexa Zimmerman',
 'Alexander Berner',
 'Amy Pawlowski',
 'Andrew Mondshein',
 'Barbara Jean Kearney',
 'Barry Alexander Brown',
 'Baxter',
 'Ben Cox',
 'Billy Hobson',
 'Bob Murawski',
 'Brad Semenoff',
 'Brian Beard',
 'Brian Chumney',
 'Brian Scott Olds',
 'C.K. Horness',
 'Cameron Steenhagen',
 'Carlos Castillon',
 'Carlos Puente',
 'Chris Gridley',
 'Chris Regan',
 'Christos Voutsinas',
 'Colby Parker Jr.',
 'Colin Patton',
 'Conrad Buff IV',
 'Craig Alpert',
 'Dallis Anderson',
 'Dan Lebental',
 'Dan Muscarella',
 'Dan Zimmerman',
 'Darrin Navarro',
 'David Alonzo',
 'David Brenner',
 'David Rosenbloom',
 'Dean Zimmerman',
 'Debra Chiate',
 'Debra L. Tennant',
 'Derek Eby',
 'Devin Sterling',
 'Don Zimmerman',
 'Donald Likovich',
 'Dylan Firshein',
 'Dylan Tichenor',
 'Eliot Milbourn',
 'Eric Kissack',
 'Ethan Coen',
 'Ethan Maniquis',
 "Fabio D'Amico",
 'Fran Amaro',
 'Fred Rosenberg',
 'G.W. Brown',
 'George Chavez',
 'George Folsey Jr.',
 'Greg Tillman',
 'Gregory Perler',
 'Gwenaelle Larpent',
 'Harold Parker',
 'Harrison Meyle',
 'Hermione Byrt',
 'Hoon H. Kim',
 'Hughes Winborne',
 'Hugo Weng',
 'Jabez Olssen',
 'James Beshears',
 'Jamie Gross',
 'Jason Canovas',
 'Jason Fields',
 'Javier Marcheselli',
 'Jay Deuby',
 'Jeff Betancourt',
 'Jeff Freeman',
 'Jeff Halsey',
 'Jeff Richardson',
 'Jim Brookshire',
 'Jim May',
 'Joe Walker',
 'John Gilroy',
 'John Mckay',
 'John Refoua',
 'John To',
 'Jonathan Null',
 'Julie Feiner',
 'Justin Ngy Tran',
 'Kate Baird',
 'Ken Terry',
 'Kenny Becker',
 'Kenny G. Krauss',
 'Kevin Nolting',
 'Kim Foscato',
 'Kim Honeyman',
 'Kimberly Boritz',
 'Lara Johnston',
 'Lara Khachooni',
 'Lee Wimer',
 'Leslie Webb',
 'Malcolm Jamieson',
 'Mandy Arnold',
 'Mark Sahagun',
 'Markus Czyzewski',
 'Martin Corbett',
 'Matt Chesse',
 'Matt Coby',
 'Matthew Schmidt',
 'Matthieu Dallaporta',
 'Meagan Costello',
 'Melissa Kent',
 'Michael A. Webber',
 'Michael Berenbaum',
 'Michael Kahn',
 'Michael LaFond',
 'Michelle Pazer',
 'Molly Malene Stensgaard',
 'Nicholas Breslin',
 'Nick Fletcher',
 'Nona Khodai',
 'Paul Parsons',
 'Paul Rubell',
 'Paul Zucker',
 'Paula Anhesini',
 'Pearce Roemer',
 'Peter Boyle',
 'Philippe Majdalani',
 'Pietro Scalia',
 'Richard B. Molina',
 'Robert Benedict',
 'Robert Troy',
 'Rudy Lopez',
 'Russell Farmarco',
 'Salvatore Catanzaro',
 'Samuel D. Pollard',
 'Serena Warner',
 'Shae Salmon',
 'Steven Kemper',
 'Steven Rosenblum',
 'Susan Dawes',
 'Tamsin Jeffrey',
 'Thomas Calderon',
 'Tia Nolan',
 'Timothy Alverson',
 'Toby Francis-Bruce',
 'Tom Costain',
 'Tom Davis',
 'Tom Muldoon',
 'Tracy Adams',
 'Troy Takaki',
 'Tyler Ruocco',
 'Vince Filippone',
 'Wayne Wahrman',
 'William Paley',
 'William Steinkamp',
 'Wyatt Jones',
 'Wyatt Smith',
 'Yvan Lucas',
 'Zach Staenberg',
 'Zene Baker']

In [261]:
top1dir

['Danny Boyle',
 'Darren Aronofsky',
 'Florian Henckel von Donnersmarck',
 'James DeMonaco',
 'James Wan',
 'Jason Reitman',
 'John R. Leonetti',
 'Josh Boone',
 'Kyle Balda',
 'Levan Gabriadze',
 'M. Night Shyamalan',
 'Morten Tyldum',
 'Nicholas Stoller',
 'Rick Famuyiwa',
 'Rob Cohen',
 'Sam Taylor-Johnson',
 'Scott Derrickson',
 'Steven Soderbergh',
 'Tim Miller',
 'Todd Phillips',
 'Tom Hooper']

In [310]:
                       #budget, runtime, no_male_cast, release_month, no_cast, no_crew, latest_dir, writer, editor, main_lead, co_lead1, co_lead2, prd_cmpny1, prd_cmpny2, prd_cmpny3, genre,keywordStr
inputdf = prepare_inputt(1450000,164, 7, 6, 81, 28,'Andrew Stanton','Karin Silvestri','Eric Zumbrunnen','Taylor Kitsch', 'Lynn Collins', 'oo', 'Walt Disney Pictures', 'Jerry Bruckheimer Films', 'other', 'Action,Adventure,Romance,Horror',keywords)
inputdf##Andrés Muschietti,Anna Kendrick,Aida Swinson,Adam Brailsford,Ingenious Film Partners

2

In [239]:
                       #budget, runtime, no_male_cast, release_month, no_cast, no_crew, latest_dir, writer, editor, main_lead, co_lead1, co_lead2, prd_cmpny1, prd_cmpny2, prd_cmpny3, genre,keywordStr
inputdf = prepare_inputt('Danny Boyle','Adam Moos','Ada Brailsford','Benedict Cumberbatch', 'othe', 'Ingenious Film Partners', 'Action,Adventure,Thriller,Horror',keywords)
inputdf##Andrés Muschietti,Anna Kendrick,Aida Swinson,Adam Brailsford,Ingenious Film Partners

TypeError: prepare_inputt() missing 9 required positional arguments: 'editor', 'main_lead', 'co_lead1', 'co_lead2', 'prd_cmpny1', 'prd_cmpny2', 'prd_cmpny3', 'genre', and 'keywordStr'

In [222]:
x.columns

Index(['no:keywords', 'latestDir', 'Action', 'Adventure', 'Aniimation',
       'Biography', 'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'History',
       'Horror', 'Music', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport',
       'Thriller', 'War', 'grp_mainLead', 'grp_co_lead1', 'grp_writer',
       'grp_Editor', 'grp_proCm1'],
      dtype='object')

In [268]:
newmerged[['latestDir','grp_mainLead','grp_co_lead1','grp_writer','grp_Editor','grp_proCm1','hit_list']].head()

,latestDir,grp_mainLead,grp_co_lead1,grp_writer,grp_Editor,grp_proCm1,hit_list
0,5,5,0,5,5,5,5
1,4,4,0,3,4,4,3
2,4,4,0,3,3,4,3
3,4,4,3,3,4,6,3
4,2,2,0,5,2,4,2

In [59]:
top1w

NameError: name 'top1w' is not defined

In [940]:
'Adam Brailsford' in top2E

True

In [891]:
if inputdf==6:
    print("All_time_blockbuster")
elif inputdf==5:
    print("BlockBuster")
elif inputdf ==4:
    print("Superhit")
elif inputdf ==3:
    print("Hit")
elif inputdf==2:
    print("Average")
else:
    print("Flop")

BlockBuster

In [809]:
x_test.columns

Index(['budget', 'runtime', 'no:maleCast', 'release_month', 'no:Cast',
       'no:Crew', 'no:keywords', 'latestDir', 'Action', 'Adventure',
       'Aniimation', 'Biography', 'Comedy', 'Crime', 'Drama', 'Family',
       'Fantasy', 'History', 'Horror', 'Music', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'grp_mainLead',
       'grp_co_lead1', 'grp_co_lead2', 'grp_writer', 'grp_Editor',
       'grp_proCm1', 'grp_proCm2', 'grp_proCm3'],
      dtype='object')

In [961]:
import pickle

In [962]:
pickle.dump(merged,open('merged(for_producer).pkl','wb'))

In [963]:
pickle.dump(mergedn2,open('mergedn2(for_w,e,actor).pkl','wb'))
pickle.dump(mergedn1,open('mergedn1(for_dir).pkl','wb'))

In [964]:

pickle.dump(randomforest_model,open('RFmodel.pkl','wb'))

In [169]:
#previous code was for finding revenue earned, -->
y=newmerged['revenue']

In [176]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor


models = [
    ('Linear Regression', LinearRegression()),
    ('Decision Tree Regression', DecisionTreeRegressor()),
    ('Random Forest Regression', RandomForestRegressor(n_estimators=400)),
    ('Gradient Boosting Regression', GradientBoostingRegressor()),
    ('Support Vector Regression', SVR()),
    ('Neural Network Regression', MLPRegressor())
]


# Split the data into train and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,random_state=5)



for model_name, model in models:
    model.fit(x_train, y_train)
    predictions = model.predict(x_test)
    r2 = r2_score(y_test, predictions)
    mae = mean_absolute_error(y_test, predictions)

    print(model_name + ":")
    print("R-squared score:", r2)
    print("Mean Absolute Error:", mae)
    print()

Linear Regression:
R-squared score: 0.774897229861653
Mean Absolute Error: 91186253.35049936

Decision Tree Regression:
R-squared score: 0.6277153237512292
Mean Absolute Error: 85574087.25641026

Random Forest Regression:
R-squared score: 0.8489199217678217
Mean Absolute Error: 61434563.75461945

Gradient Boosting Regression:
R-squared score: 0.8850519161645587
Mean Absolute Error: 58731717.7392483

Support Vector Regression:
R-squared score: -0.11992698497097098
Mean Absolute Error: 165650123.80543098

Neural Network Regression:
R-squared score: 0.6276442511743134
Mean Absolute Error: 106141311.70295233

In [177]:
model =  GradientBoostingRegressor()
model.fit(x_train, y_train)
predictions = model.predict(x_test)
r2 = r2_score(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)
print("R-squared score:", r2)
print("Mean Absolute Error:", mae)
print()

R-squared score: 0.8833982067095676
Mean Absolute Error: 58735849.45070261

In [179]:
firstroww  =np.array(first_row_values)
reshapedd = firstroww.reshape(1,35)
model.predict(reshaped)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(

array([3.51611207e+08])

In [104]:
#i think dont want to add production company like this , because our previous score was 92/91